@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
/*container*/
body {
  font-family: "Roboto", sans-serif;
  line-height: 30px;
}

.container {
  max-width: 1362px;
  margin: auto;
  padding: 5px;
}

.fluid-container {
  max-width: 1000px;
  margin: auto;
  padding: 5px;
}

/*divs*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.logo {
  display: flex;
}
.logo h1 {
  font-family: 'Caesar Dressing', cursive;
  color: #cc9543;
  padding-left: 20px;
}
ul {
 display: flex;
 list-style-type: none;
 justify-content: space-between;
  }
  ul li{

  }
  ul li a{
  display: block;
  font-size: 18px;
  color: rgba(15, 15, 15, 0.5);
  padding: 8px 16px;
  text-decoration: none;
  }
  li a:hover {
    color: black;
    opacity: 0.8;
  }
  * {
    box-sizing: inherit;
}

html {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
    display: grid;
    grid-gap: 20px;
}

img {
    max-width: 100%;
}

.main-gradient {
    display: grid;
    grid-template-areas: 
        "header"
        "banner"
}


header {
    text-align: center;
}

.main-heading {
    margin-bottom: 0;
    padding-bottom: 1.875rem;
    color: #ce973e;
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 0.4px;
    line-height: 1.1;
}

.sub-heading {
    padding-bottom: 4.375rem;
    color: rgba(74, 74, 74, 0.6);
    font-size: 1.125rem;
    letter-spacing: 0.2px;
    margin: 0;
    line-height: 1.88;
    
}

.button-primary, .button-third {
    background-color: #6abfc3;
}

.button-primary {
    margin-bottom: 4px;
}

.button {
    border-radius: 0.2em;
    box-shadow: 0 0.05em 0.25em 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 0.2px;
    padding: 1rem 3.5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.banner {
    grid-area: banner;
    min-height: 400px;
    background: url(../images/home-page-banner.png);
    background-size: cover;
}

.how-it-works {
    display: grid;
    justify-items: center;
}

.how-header {
    margin-bottom: 36px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.container p {
    padding-top: 1em;
    color: rgba(74, 74, 74, 0.7);
    letter-spacing: 0.2px;
    margin: 0;
    line-height: 1.88;
    padding-bottom: 30px;
    font-size: 18px;
}

.bold {
    font-weight: bold;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 0.3px;
    color: #4a4a4a;
}

.container {
    text-align: center;
    width: 570px;
}

.how-it-works-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding-top: 30px;
}

.tile {
    text-align: center;
}

.tile p {
    color: rgba(74, 74, 74, 0.7);
    font-size: 1.125rem;
    letter-spacing: 0.2px;
    line-height: 1.88;
}

h4 {
    font-size: 1.125rem;
    letter-spacing: 0.2px;
    color: #4a4a4a;
}

.curriculum-details-title {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.tile-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.hired {
    grid-column: span 3;
}

.button-secondary {
    background-color: #ce973e;
}

.text-center, .success-stories-title {
    text-align: center;
}

.text-center {
    padding-bottom: 30px;
}

.success-stories-title {
    padding-top: 25px;
    padding-bottom: 30px;
}

.success-stories-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.success-story-1, .success-story-2,.success-story-3, .success-story-4 {
    display: inline-flex;
    padding-left: 10px;
}

.success-story-1, .success-story-2 {
    padding-bottom: 20px;
}

.success-story-3, .success-story-4 {
    padding-top: 20px;
}

.photo {
    padding-right: 10px;
}

.success-stories-read-more {
    text-align: center;
    padding-top: 30px;
}

.details a {
    text-decoration: none;
    color: #ce973e;
    font-size: 1.125rem;
}

.details a:hover {
    color: black;
}

.desc {
    color: rgba(74, 74, 74, 0.7);
    font-size: 1.125rem;
    letter-spacing: 0.2px;
    line-height: 1.88;
}

.success-stories-read-more a {
    color: rgba(74, 74, 74, 0.7);
}

.success-stories-read-more a:hover {
    color: black;
}

.bottom-cta {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.bottom-cta_heading {
    color: rgba(74, 74, 74, 0.7);
    font-size: 2.2em;
    line-height: 1.5em;
    margin: 0 auto 1rem;
    max-width: 25em;
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
    padding-top: 50px;
}

.footer-links-1 {
    display: grid;
    list-style: none;
    padding-left: 175px;
}

.footer-links-2 {
    display: grid;
    list-style: none;
}

.footer-social a {
    text-decoration: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    color: #ce973e;
}

footer a span:hover {
    color: black;
}

.fa-github {
    padding: 0 20px 0 70px;
}

.gitter-img {
    padding: 0 20px 0 20px;
}

.fa-facebook {
    padding: 0 20px 0 20px;
}

.fa-twitter {
    padding-left: 20px;
}

footer a {
    text-decoration: none;
    color: rgba(74, 74, 74, 0.7);
    font-weight: bold;
}

footer a:hover {
    color: black;
}


  /*------------ */
.col-1 {
  max-width: 100px;
}

.col-2 {
  max-width: 200px;
}

.col-3 {
  max-width: 300px;
}

.col-4 {
  max-width: 400px;
}

.col-5 {
  max-width: 500px;
}

.col-6 {
  max-width: 600px;
}

.col-7 {
  max-width: 700px;
}

.col-8 {
  max-width: 800px;
}

.col-9 {
  max-width: 900px;
}

.col-10 {
  max-width: 1000px;
}

.col-11 {
  max-width: 1100px;
}

.col-12 {
  max-width: 1200px;
}

/*Font*/
.white-font {
  color: white;
}

.bold-font {
  font-weight: bold;
}

.lightgray-font {
  color: #818181;
}

.small-font {
  font-size: 20px;
}

.medium-font {
  font-size: 35px;
}

.large-font {
  font-size: 50px;
}

.normal-font {
  font-weight: normal;
}

.bold-font {
  font-weight: bold;
}

.bolder-font {
  font-weight: bolder;
}

/*Background*/
.bg-white {
  background: white;
}

.bg-lightgray {
  background: #F3F3F3;
}

/*Links*/
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 15px;
}

/*Buttons*/
.btn-normal {
  padding: 5px 10px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 2px 2px gray;
}

.btn-large {
  font-weight: bold;
  color: white;
  border: none;
  padding: 20px 70px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px gray;
}

.btn-blue {
  background: #6ABFC3;
}

.btn-brown {
  background: #D3A766;
}

.btn-green {
  background: lightgreen;
}

/*Alignment*/
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.justify {
  text-align: justify;
}

/*flex*/
.flex-start {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/*Margin Top*/
.margin-top-100 {
  margin-top: 100px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-top-10 {
  margin-top: 10px;
}

/*Margin Bottom*/
.margin-bottom-100 {
  margin-bottom: 100px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-25 {
  margin-bottom: 25px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

/*Margin Left*/
.margin-left-100 {
  margin-left: 100px;
}

.margin-left-50 {
  margin-left: 50px;
}

.margin-left-25 {
  margin-left: 25px;
}

.margin-left-10 {
  margin-left: 10px;
}

/*Margin Right*/
.margin-right-100 {
  margin-right: 100px;
}

.margin-right-50 {
  margin-right: 50px;
}

.margin-right-25 {
  margin-right: 25px;
}

.margin-right-10 {
  margin-right: 10px;
}

/*Padding Top*/
.padding-top-100 {
  padding-top: 100px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-top-25 {
  padding-top: 25px;
}

.padding-top-10 {
  padding-top: 10px;
}

/*Padding Bottom*/
.padding-bottom-100 {
  padding-bottom: 100px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-bottom-25 {
  padding-bottom: 25px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

/*Padding Left*/
.padding-left-100 {
  padding-left: 100px;
}

.padding-left-50 {
  padding-left: 50px;
}

.padding-left-25 {
  padding-left: 25px;
}

.padding-left-10 {
  padding-left: 10px;
}

/*Padding Right*/
.padding-right-100 {
  padding-right: 100px;
}

.padding-right-50 {
  padding-right: 50px;
}

.padding-right-25 {
  padding-right: 25px;
}

.margin-right-10 {
  padding-right: 10px;
}

/*Padding Top and Bottom*/
.padding-top-bottom-50 {
  padding: 50px 0;
}

.padding-top-bottom-25 {
  padding: 25px 0;
}

/*Margin Top and Bottom*/
.margin-top-bottom-100 {
  margin: 100px 0;
}

.margin-top-bottom-50 {
  margin: 50px 0;
}

.margin-top-bottom-25 {
  margin: 25px 0;
}


/*# sourceMappingURL=grid-framework.css.map */
